---
import ComprehensiveCard from "../components/comprehensiveCard.astro";
import Developmentprocess from "../components/Developmentprocess.astro";
import KeyFeaturesCarousal from "../components/KeyFeaturesCarousal.astro";
import TechStacksCards from "../components/TechStacksCards.astro";
import WhyInvestCards from "../components/WhyInvestCards.astro";
const whyInvestData = [
        {
            title: "Growing Popularity of Crypto Gaming",
            content: "Tap-to-earn crypto games are in demand, offering players real-world rewards and giving businesses a profitable way to enter the booming blockchain gaming market."
        },
        {
            title: "Simplified Gameplay Mechanics",
            content: "T2E game development focuses on simple and engaging mechanics, making these games accessible to a wide audience and ensuring consistent player engagement."
        },
        {
            title: "Seamless Platform Integration",
            content: "Tap-to-earn game development services ensure effortless integration with platforms like Telegram, allowing players to access games directly without additional downloads or account creation."
        },
        {
            title: "Monetization Opportunities",
            content: "Tap-to-earn crypto games generate diverse revenue streams through in-game purchases, cryptocurrency rewards, subscriptions, and advertising, maximizing profits for businesses."
        },
        {
            title: "Scalability and Customization",
            content: "A top tap-to-earn game development company offers scalable, flexible solutions tailored to your brand’s goals, ensuring a unique and competitive gaming platform."
        },
        {
            title: "Low Development Costs",
            content: "Clone scripts and prebuilt frameworks reduce tap-to-earn game development costs, helping businesses quickly enter the market with minimal investment and faster deployment."
        },
        {
            title: "Global Appeal",
            content: "Tap-to-earn games attract worldwide audiences by merging simple gameplay with crypto rewards, creating widespread interest and participation in various regions."
        },
        {
            title: "Blockchain Integration Benefits",
            content: "Tap-to-earn game development leverages blockchain technology for secure transactions, transparency, decentralized ecosystems, and a trust-building gaming experience for all participants."
        },
        {
            title: "Branding Opportunities",
            content: "White-label solutions enable businesses to brand tap-to-earn crypto games, enhancing visibility and creating unique gaming experiences under their exclusive name and identity."
        },
        {
            title: "Future-Ready Investment",
            content: "Tap-to-earn game development is a forward-looking opportunity, aligning with the rising adoption of blockchain gaming and the growing popularity of cryptocurrency rewards."
        }
    ];
const Diverserange= [
    {
      image: '/public/assets/diverseRange_webp/avacoinCloneScript.webp',
      title: "Avacoin Clone Script",
      content: "Our Avacoin clone script enables you to create T2E clicker games like Avacoin. It’s customizable, ensuring rapid launch with in-built monetization models."
    },
    {
      image: '/public/assets/diverseRange_webp/hamsterKombatCloneScript.webp',
      title: "Hamster Kombat Clone Script",
      content: "We deliver Hamster Kombat clone scripts featuring tap-to-earn mechanisms, intuitive interfaces, and immersive visuals for engaging tap-to-earn crypto games."
    },
    {
      image: '/public/assets/diverseRange_webp/notcoinCloneScript.webp',
      title: "Notcoin Clone Script",
      content: "Develop a T2E game like Notcoin with our secure and customizable Notcoin clone script. It incorporates innovative features and sustainable revenue models for businesses."
    },
    {
      image: '/public/assets/diverseRange_webp/pixelverseCloneScript.webp',
      title: "Pixelverse Clone Script",
      content: "We build Pixelverse clone scripts recreating its cyberpunk theme and unique features. This framework ensures a high-performing tap-to-earn crypto gaming platform."
    },
    {
      image: '/public/assets/diverseRange_webp/muskEmpireCloneScript.webp',
      title: "Musk Empire Clone Script",
      content: "Our Musk Empire clone script replicates its core functionalities and supports future upgrades, making it a reliable foundation for tap-to-earn game development services."
    },
    {
      image: '/public/assets/diverseRange_webp/Tapswap.webp',
      title: "TapSwap Clone Script",
      content: "Create T2E games like TapSwap using our bug-free TapSwap clone scripts. These include essential gameplay mechanics & features for rewarding tap-to-earn gaming experiences."
    },
    {
      image: '/public/assets/diverseRange_webp/catizenCloneScript.webp',
      title: "Catizen Clone Script",
      content: "Create engaging T2E games like Catizen with our customizable clone script. Leverage crypto rewards, adorable themes, and simple gameplay for player engagement and brand growth."
    },
    {
      image: '/public/assets/diverseRange_webp/dogsCloneScript.webp',
      title: "DOGS Clone Script",
      content: "Develop DOGS-like T2E games with our clone script, featuring rewarding gameplay, blockchain integration, and scalable solutions to captivate audiences and enhance profitability."
    },
    {
      image: '/public/assets/diverseRange_webp//blumCloneScript.webp',
      title: "BLUM Clone Script",
      content: "Our BLUM clone script offers immersive gameplay with customizable boosters, crypto rewards, and an intuitive interface to ensure player retention and maximize earnings."
    }
  ];

---

<!-- Landing Page -->
<section >
    <div class="relative w-[99vw] h-[130vh] flex flex-col justify-end items-center p-2 ">
        <div class="absolute w-full h-full">
            <img class=" w-full h-full object-cover" src="/public/assets/remaining-images/Banner bg.webp" alt="banner-image">
        </div>
        <div class="relative flex flex-col justify-end items-start w-full h-full mb-20 p-0 sm:p-8 ">
            <div class=" flex flex-row font-gothicBold text-4xl sm:text-6xl font-bold text-white gap-3">
                <h1 class=" ">Tap To Earn</h1>
                <h1> Game</h1>
            </div>
            <h1 class="font-gothicBold text-3xl sm:text-6xl font-bold text-white">Development Company</h1>
        
            <div class="relative w-full h-auto my-1  ">
                <p class="para-text text-start w-[60vw]">
                    Metaprolane, a leading tap to earn game development company, excels
                    in creating engaging tap to earn crypto games. Our innovative
                    solutions offer simple gameplay, rewarding players with digital
                    assets or cryptocurrencies. With accessible designs and blockchain
                    integration, our tap to earn game development attracts a wide
                    audience, ensuring maximum engagement and rewards.
                </p>
            </div>
        </div>
    </div>
</section>

<!---What are tap to earn games-->
<section>
    <div class="relative w-full h-full ">
        <!-- first-half -->
        <div class="relative flex flex-col md:flex-row items-center justify-between mx-[3vw] px-[3vw]  mb-4">
            <img
            class="relative w-full h-auto md:w-[30vw] md:h-[75vh] object-cover rounded-2xl mb-4 md:mb-0  " 
            src="/public/assets/remaining-images/squaredhand-page2.webp" alt="squared Image page 2">
            <div class="page-intro items-start mx-8 ">
                <h1 class="heading-text text-start"> 
                        What are Tap-to-Earn Games?
                </h1>
                <p class="para-text text-start">
                    Tap-to-earn games are revolutionizing the gaming landscape by
            rewarding players with digital assets or cryptocurrencies for
            engaging in simple in-game activities. These games rely on intuitive
            mechanics, allowing players to earn rewards just by tapping their
            screens. Similar to play-to-earn games, these games allow users to
            collect in-game tokens or unique digital assets with real-world
            value. The gameplay is simple and intuitive, requiring players to
            click buttons, complete tasks, or progress through levels to unlock
            cryptocurrency rewards. Unlike traditional blockchain games, T2E
            games focus on straightforward mechanics, making them accessible to
            all.
            <br />
            <br />
            Telegram tap-to-earn games take this concept further, combining the
            power of gaming with the massive reach of Telegram’s 1.5 billion
            users. These games feature engaging elements such as daily missions,
            upgradeable boosters, and referral programs, which multiply players’
            earning potential. With no need for separate apps, users can enjoy
            these games directly on Telegram, ensuring effortless accessibility
            and wide appeal.  

                </p>
            </div>
        </div>
        <!-- second-half -->
        <div class=" mx-10 sm:mx-[5vw] dashed-border">
            <div class="mx-5 sm:mx-[5vw] my-10">
                <h1 class="heading-text w-60%">
                    Tap Into Success with our Tap-to-Earn Game Development Services!
                </h1>
                <p class="para-text relative w-90%">
                    Tap-to-earn game development transforms gaming by allowing players
                to earn cryptocurrency with simple taps or clicks. Designed for
                seamless integration with platforms like Telegram, these games
                eliminate the need for downloads or complex setups, offering players
                an effortless and engaging experience. Particularly on Telegram,
                their popularity has exploded as games like Hamster Kombat, Catizen,
                DOGS, BLUM, and more go viral. As a trusted tap to earn game
                development company, Metaprolane specializes in creating captivating
                tap to earn crypto games from scratch. Our expert tap to earn game
                development services include fully customizable solutions, allowing
                businesses to launch branded T2E games that stand out in the market.
                <br />
                <br />
                For those seeking a faster entry into the gaming market, we offer a
                ready-to-use, cost-effective Tap-to-Earn clone script replicating
                the features of popular T2E games. Our tap to earn game development
                expertise includes creating intuitive gameplay, secure blockchain
                integration, and scalable solutions designed to attract and retain a
                global audience. These frameworks are fully adaptable, helping you
                deploy a unique and scalable gaming platform quickly. Partner with
                us to launch impactful tap to earn crypto games that deliver value
                to players and businesses alike.
                </p>
            </div>
        </div>
    </div>
</section>

<!--- Our Comprehensive Tap-To-Earn Game development Services-->
<section>
    <div class="">
        <div class="page-intro m-10">
            <h1 class="heading-text mt-16 w-[70vw]">Our Comprehensive Tap-To-Earn Game Development Services
            </h1>
            <p class="para-text w-[80vw]">
                At Metaprolane, we offer full-fledged Tap-to-Earn Game Development
                Services that enable businesses to create engaging T2E crypto games
                with unique features. 
            </p>
            </h1>
        </div>

        <!---Card Section -->
        <div>
         <ComprehensiveCard/>
        </div>
    </div>
</section>

<!--Why invest in Tap-To-Earn Game Development -->
<section>
    <div class="relative w-full h-full mt-10 ">
        <div class="  mx-[8vw] dashed-border border-t-0 border-b-0 ">
            <div class="mx-[5vw] dashed-border">
                <div class="page-intro">
                        <div class="heading-text w-[70%] mt-24">
                            Why Invest in Tap-To-Earn Game Development?
                        </div>
                        <div class="para-text w-[80%]">
                            Tap-to-earn game development combines simple gameplay with 
                            cryptocurrency rewards, providing businesses a lucrative opportunity to 
                            attract players and create engaging blockchain-powered gaming experiences
                        </div>
                </div>
                <div class="flex flex-col items-center justify-center sm:grid sm:grid-cols-1 sm:mx-3 sm:my-3  xs:mx-1 xs:my-1 lg:grid lg:grid-cols-1 lg:mx-3 lg:my-3">
                    {whyInvestData.map((item,index)=>(
                        <div  class={`relative flex sm:flex-row items-center sm:justify-between xs:flex-col xs:justify-start border-2 border-dashed border-[#eaa2f3] p-2 ${index % 2 === 0 ? 'border-t-2' : 'border-y-0'} ${index === whyInvestData.length - 1 ? 'border-b-2' : ''}`}>
                                <div class="sm:w-[24vw] sm:h-[16vh] xs:h-12[vh] flex items-center">
                                    <h1 class="text-white text-wrap font-gothicBold sm:text-4xl xs:text-3xl xs:text-center sm:text-start font-bold leading-normal ml-4">
                                        {item.title}
                                    </h1>
                                </div>
                                <div class="flex items-center sm:w-[30vw] p-2 ">
                                    <p class="text-gray-400 text-wrap text-start font-nunitoReg font-bold leading-6 text-2xl">
                                        {item.content}
                                    </p>
                                </div>
                            </div>
                    ))

                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!--Key Features of Our tap-to-Earn Game Development -->
<section>
    <div class=" w-[90vw] border-1 border-[#eaa2f3] m-[5vw]">
        <div class="page-intro">
            <h1 class="lg:w-[40vw]  lg:h-[14vh] sm:w-[60vw] sm:h-[12vh] xs:w-[75vw] xs:h-[16vh] xs:my-4 heading-text mt-16 leading-normal"> 
                Key Features of Our Tap-to-Earn Games
            </h1>
            <p class="para-text w-[75vw] mt-5 leading-6">
                At Metaprolane, we focus on Tap-to-Earn game development that combines simple gameplay with innovative 
                features designed to drive user engagement and long-term success.
            </p>
        </div>
        <KeyFeaturesCarousal/>   
        </div>
    </div>
</section>

<!---Why invest in tap-to-earn game development -->
<section>
    <div class="page-intro">
        <h1 class="heading-text mt-16 w-[70vw]">Why Invest in Tap-To-Earn Game Development?
        </h1>
        <p class="para-text w-[80vw]">
            Tap-to-earn game development combines simple gameplay with cryptocurrency rewards, providing businesses a lucrative opportunity to attract players and create engaging blockchain-powered gaming experiences.
        </p>
    </div>
    <div class=" lg:grid lg:grid-cols-3 lg:grid-rows-4 !md:grid !md:grid-cols-2 !md:grid-rows-5 mx-16 gap-4 place-items-center xs:flex xs:flex-col xs:items-center xs:justify-center xs:gap-4">
        <WhyInvestCards/>
    </div>
</section>

<!--Diverse Range of Tap-to-Earn Game Clone Scripts -->
<section>
    <div class="page-intro">
        <h1 class="heading-text mt-16 w-[50vw]">
            Diverse Range of Tap-to-Earn Game Clone Scripts
        </h1>
        <p class="para-text w-[80vw]">
            We provide a variety of tap-to-earn clone scripts crafted on popular T2E platforms. These ready-made 
            frameworks ensure swift customization and seamless market launches.
        </p>
        <div id="DiverseRangeGrid" class="mx-16 sm:grid sm:grid-cols-3  sm:grid-rows-3 sm:gap-4 sm:place-items-center xs:flex xs:flex-col xs:items-center xs:justify-center xs:gap-2">
        {Diverserange.map((item,index)=>(
            <div class='lg:w-[29vw] lg:h-[65vh]  md:h-[65vh] xs:h-[30vh] flex-col justify-center place-items-center 
                bg-blue-700 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 -outline-offset-2 p-2'
            >
                    <div class="border-2 border-dashed border-[#eaa2f3] lg:h-[63vh] xs:h-[27vh] ">
                    <div class="my-2 object-cover">
                    <img class="" src={item.image} />
                    </div>
                    <div class="py-2">
                        <div class="text-center text-wrap text-white sm:text-xl xs:text-xl font-bold font-nunitoBold">
                        {item.title}
                        </div>
                        <div class=" text-center flex-grow whitespace-normal text-wrap text-gray-400 lg:text-xl xs:hidden md:block xs:text-lg font-normal font-nunitoReg  text-weight-400 ">
                        {item.content}
                        </div>
                    </div>
                </div>
            </div>
            ))}
        </div>
    </div>
</section>

<!--Technology stack we use for tap-to-Earn game development -->
<section>
    <div class="page-intro">
        <h1 class="heading-text mt-16 lg:w-[65vw] lg:h-[20vh] sm:w-[70vw] sm:h-[15vh] xs:w-[85vw] xs:h-[16vh]">
            Technology Stack We Use for <br>Tap-to-Earn Game Development
        </h1>
        <p class="para-text lg:w-[70vw] sm:w-[80vw] xs:w-[95vw]">
            Our tap-to-earn game development services leverage cutting-edge technologies to create immersive, 
            secure, and scalable gaming experiences that drive user engagement and profitability.
        </p>
    </div>
    <!--Card of the techStacks -->
    <TechStacksCards/>       
</section>

<!--- tap to earn game dev process carousal -->
<section>
    <div>
        <div class="page-intro">
            <h1 class="heading-text lg:w-[65vw] lg:h-[20vh] sm:w-[70vw] sm:h-[15vh] xs:w-[85vw] xs:h-[16vh] mt-10">
                Our Tap-To-Earn Game Development Process
            </h1>
            <p class="para-text w-[80vw] lg:w-[70vw] sm:w-[80vw] xs:w-[80vw">
                At Metaprolane, we follow a systematic approach to tap-to-earn game development, ensuring seamless execution and high-quality outcomes.
            </p>
        </div>
        <div class="h-60vh w-full flex justify-center items-center">
            <!---Carousal Component -->
            <Developmentprocess/>
            
        </div>
    </div>
</section>

<!--Why choose metaprolane for tap-to-earn game dev process -->
<section>
    <div class="flex flex-col items-center justify-center w-[85vw] gap-3.5 my-16 border-2 border-[#eaa2f3] mx-[7vw]">
        <div class="page-intro">
            <h1 class="heading-text lg:w-[65vw] lg:h-[20vh] sm:w-[70vw] sm:h-[15vh] xs:w-[85vw] xs:h-[16vh] mt-20 leading-normal">
                Why Choose Metaprolane for Tap-To-Earn Game Development?
            </h1>
            <p class="para-text w-[70vw]">
                Metaprolane is your ultimate partner in Tap-to-Earn game development, delivering cutting-edge solutions that redefine the gaming experience. As a leading Tap-to-Earn game development company, we specialize in creating highly engaging T2E games that blend innovation, simplicity, and blockchain technology. Our expertise ensures secure, scalable, and user-friendly platforms tailored to your business needs.
                <br /> <br />
                With our end-to-end Tap-to-Earn game development services, we integrate rewarding crypto mechanisms, seamless gameplay, and robust smart contract functionalities. Whether you’re building original Tap-to-Earn crypto games or exploring clone solutions of trending T2E games, Metaprolane ensures quality, efficiency, and market readiness. Choose Metaprolane to create Tap-to-Earn games that captivate players, maximize rewards, and drive business growth. Let us bring your vision to life with our unmatched expertise in Tap-to-Earn game development. 
            </p>
            <div class='flex justify-center items-center w-[80vw] mb-12'>
                <img src='/public/assets/remaining-images/Big rabbit.webp' alt="Big Rabbit" class='object-cover' />
              </div>

        </div>
    </div>
</section>